<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <div>
      <input type="text" id="guess-input">
      <input type="submit" onclick="sendGuess()">
    </div>
    <div>
      <table id="word-table">
        <tr>Word List</tr>
        <%if (foundWords) {%>
          <%for (let i=0; i<foundWords.length; i++) {%>
            <tr><td><%=foundWords[i]%></td></tr>
          <%}%>
            
        <%}%>
      </table>
    </div>
    <script src="/socket.io/socket.io.js"></script>
    <script>
      var socket = io();
      socket.on('answerFound', function (data) {
        var table = document.getElementById("word-table");
        var row = table.insertRow();
        var cell = row.insertCell();
        cell.innerHTML = data;
      });

      window.addEventListener('keydown', function(event) {
          if (event.key == 'Enter') {
            sendGuess();
          }
      });

      function sendGuess() {
        const guess = document.getElementById('guess-input').value;
        document.getElementById('guess-input').value = '';
        if (guess != '') {
          console.log('sending ' + guess);
          socket.emit('guess', guess);
        }
        
      }
    </script>

  </body>
</html>
