<!DOCTYPE html>
<html>
  <head>
    <title>group bee</title>
    <meta charset="utf-8">
    <meta name="description" content="spelling bee with groups">
    <meta name="author" content="eric reeves">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="css/bulma.min.css">
    <link rel="stylesheet" href="css/style.css">
  </head>

  <body>

    <div class="container header">
      <div class="columns">
        <div class="column">
          <h2 class="title is-1 has-text-centered" style="padding-bottom:30px">group bee</h2>
        </div>
      </div>
    </div>

    <div class="container" style="margin-top: 70px;">
      <div class="columns">

        <div class="column has-text-centered">
          <input type="text" class="input" id="guess-input">
          <div class="sb-hive">
            <div class="hive">
              <svg class="hive-cell center" viewBox="0 0 120 103.92304845413263">
                <polygon class="cell-fill center-color" points="0,51.96152422706631 30,0 90,0 120,51.96152422706631 90,103.92304845413263 30,103.92304845413263" stroke="white" stroke-width="7.5"></polygon>
                <text class="cell-letter" x="50%" y="50%" dy="10.75%" id="center-text"> </text>
              </svg>
              <svg class="hive-cell outer" viewBox="0 0 120 103.92304845413263">
                <polygon class="cell-fill" points="0,51.96152422706631 30,0 90,0 120,51.96152422706631 90,103.92304845413263 30,103.92304845413263" stroke="white" stroke-width="7.5"></polygon>
                <text class="cell-letter" x="50%" y="50%" dy="10.75%"> </text>
              </svg>
              <svg class="hive-cell outer" viewBox="0 0 120 103.92304845413263">
                <polygon class="cell-fill" points="0,51.96152422706631 30,0 90,0 120,51.96152422706631 90,103.92304845413263 30,103.92304845413263" stroke="white" stroke-width="7.5"></polygon>
                <text class="cell-letter" x="50%" y="50%" dy="10.75%"> </text>
              </svg>
              <svg class="hive-cell outer" viewBox="0 0 120 103.92304845413263">
                <polygon class="cell-fill" points="0,51.96152422706631 30,0 90,0 120,51.96152422706631 90,103.92304845413263 30,103.92304845413263" stroke="white" stroke-width="7.5"></polygon>
                <text class="cell-letter" x="50%" y="50%" dy="10.75%"> </text>
              </svg>
              <svg class="hive-cell outer" viewBox="0 0 120 103.92304845413263">
                <polygon class="cell-fill" points="0,51.96152422706631 30,0 90,0 120,51.96152422706631 90,103.92304845413263 30,103.92304845413263" stroke="white" stroke-width="7.5"></polygon>
                <text class="cell-letter" x="50%" y="50%" dy="10.75%"> </text>
              </svg>
              <svg class="hive-cell outer" viewBox="0 0 120 103.92304845413263">
                <polygon class="cell-fill" points="0,51.96152422706631 30,0 90,0 120,51.96152422706631 90,103.92304845413263 30,103.92304845413263" stroke="white" stroke-width="7.5"></polygon>
                <text class="cell-letter" x="50%" y="50%" dy="10.75%"> </text>
              </svg>
              <svg class="hive-cell outer" viewBox="0 0 120 103.92304845413263">
                <polygon class="cell-fill" points="0,51.96152422706631 30,0 90,0 120,51.96152422706631 90,103.92304845413263 30,103.92304845413263" stroke="white" stroke-width="7.5"></polygon>
                <text class="cell-letter" x="50%" y="50%" dy="10.75%"> </text>
              </svg>
            </div>
          </div>
        </div>

        <div class="column is-size-4 word-list" style="margin-top: 0px;">
          <span class="has-text-weight-bold">Word List (<span id="found-words-count">0</span>/<span id="total-word-count">0</span>)</span>
          <ul id="word-list" style="margin-top: 10px;">
            
          </ul>
        </div>
  
      </div>
    </div>

    <div class="container" style="margin-top: 70px;">
      <div class="columns">
        <div class="column has-text-right">
          <p><a href="#" id="share-link">Get Share Link</a></p>
          <p><a href="#" id="join-link">Join a Game</a></p>
        </div>
      </div>
    </div>


    <script src='/socket.io/socket.io.js'></script>
    <script src="/js/localforage.js"></script>
    <script>

      /* Globals, trying to eliminate ********************************************************/
      const socket = io();
      let puzzle = {};

      /* On page load js execution ********************************************************/
      ( async () => {
        await requestPuzzle();
      })();

      /* socket.io event emiters *********************************************************/
      function requestPuzzle(gameId) {
        socket.emit('getPuzzle', { gameId });
      }

      function broadcastGuess(word) {
        const roomId = getCookie('roomId');
        const userId = getCookie('userId');
        socket.emit('foundWord', { word, userId, roomId});
      }

      function createUser(name) {
        return new Promise((resolve, reject) => {
          socket.emit('createUser', { name }, function (response) {
            console.log('new userId: ' + response.userId);
            document.cookie = `userId=${response.userId}`;
            resolve(response.userId);
          });
        });
      }
      
      function createRoom(userId) {
        return new Promise((resolve, reject) => {
          socket.emit('createRoom', { userId }, function (response) {
            resolve(response.roomId);
          });
        });
      }
      /* socket.io event listeners *********************************************************/
      socket.on('returnPuzzle', async (data) => {
        let puzzle = data.puzzle;
        await savePuzzle(puzzle);
        await scrambleLetters(); 
        await updatePage();
        return puzzle;
      });

      socket.on('wordFound', function (data) {
        console.log(`word {${data.word}}, found by user ${data.userId}`);
      });

      socket.on('alreadyFound', function (data) {

      });

      socket.on('panagramFound', function (data) {
        alert(data);
      });

      /* DOM event listeners *********************************************************/
      window.addEventListener('keydown', async (event) => {
        if (event.key == 'Enter') {

          const inputField = document.getElementById('guess-input');
          const guess = inputField.value;

          inputField.value = '';

          const validationResults = await guessIsValid(guess);

          if (validationResults.valid) {
            await saveWord(guess);
            await updateWordList();
            flashGreen(guess);
            if (isGroupGame()) {
              broadcastGuess(guess);
            }
          } else {
            if (validationResults.message == 'Word aready found.') {
              flashRed(guess);
            }
            else if (validationResults.message != '') {
              alert(validationResults.message);
            }
          }

        } else if (event.key == ' ') {
          event.preventDefault();
          await scrambleLetters();
        }
      });

      document.getElementById("share-link").addEventListener("click", (event) => {
        event.preventDefault();
        getShareLink();
      });
      
      /* IndexedDB getters and setters *********************************************************/
      async function getPuzzle(puzzleId) {
        try {
          const puzzle = await localforage.getItem(puzzleId);
          return puzzle;
        } catch {
          console.log(`Couldn't load data`);
        }
        return null;
      }

      async function savePuzzle(puzzle) {
        const puzzleId = getPuzzleIdFromDate(puzzle.dateCreated);
        try {
          const existingPuzzle = await localforage.getItem(puzzleId);
          if (existingPuzzle == undefined) {
            await localforage.setItem(puzzleId, puzzle);
          } else {
            // TODO: merge function here 
            await localforage.setItem(puzzleId, puzzle);
          }
        }
        catch {
          console.log(`Couldn't load data`);
        }
      }

      /* Puzzle related functions *********************************************************/
      async function getCurrentPuzzleId() {
        let keys = await localforage.keys();
        keys.sort();
        return keys[keys.length -1];
      }

      function getPuzzleIdFromDate(inputDate) {
        const date = new Date(inputDate)
        const dateNum = date.getDate();
        return dateNum.toString();
      }

      async function saveWord(word) {
        const puzzleId = await getCurrentPuzzleId();
        const puzzle = await getPuzzle(puzzleId);

        for (let item of puzzle.answers) {
          if (item.word == word) {
            item.foundBy = 484;
            break;
          }
        }

        await savePuzzle(puzzle);
      }

      async function getWords() {
        const puzzleId = await getCurrentPuzzleId();
        const puzzle = await getPuzzle(puzzleId);
        return puzzle.answers;
      }

      async function getFoundWords() {
        const words = await getWords();
        let foundWords = [];

        for (let item of words) {
          if (item.foundBy != '') {
            foundWords.push(item.word);
          }
        }

        return foundWords;
      }

      async function getCenterLetter() {
        const puzzleId = await getCurrentPuzzleId();
        const puzzle = getPuzzle(puzzleId);
        return puzzle.centerLetter;
      }

      async function getOuterLetters() {
        const puzzleId = await getCurrentPuzzleId();
        const puzzle = getPuzzle(puzzleId);
        return puzzle.outerLetters;
      }

      /* Game related functions *********************************************************/
      async function updateWordList() {
        let foundWords = await getFoundWords();
        //foundWords.sort();

        if (foundWords.length != 0) {
          let list = document.getElementById("word-list");
          
          list.innerHTML = '';
  
          for (let item of foundWords) {
            let node = document.createElement('li');
            let textnode = document.createTextNode(item);
            node.appendChild(textnode);
            list.appendChild(node);
          }
        }

        document.getElementById('found-words-count').innerHTML = foundWords.length; 
      }

      function isGroupGame() {
        return getCookie('userId') != undefined && getCookie('roomId') != 0
      }

      async function getShareLink() {

        let userId = getCookie('userId');

        if (userId == undefined) {
          const name = prompt('Enter in your name');
          const userId = await createUser(name);
        }

        const roomDetailId = await createRoom(userId);
        document.cookie = `roomId=${roomDetailId}`;
        console.log('roomDetailId: ' + roomDetailId);
      }



      function flashRed(word) {
        let list = document.getElementById("word-list");
        let cell;
        for (let i = 0;  i < list.children.length; i++) {
          if (list.children[i].innerHTML == word) {
            cell = list.children[i];
            break;
          }
        }

        if (cell != undefined) {
          cell.classList.add('has-background-danger');
          setTimeout(function(){ cell.classList.remove('has-background-danger'); }, 700);
        }
      }

      function flashGreen(word) {
        let list = document.getElementById("word-list");
        let cell;
        for (let i = 0;  i < list.children.length; i++) {
          if (list.children[i].innerHTML == word) {
            cell = list.children[i];
            break;
          }
        }

        if (cell != undefined) {
          cell.classList.add('has-background-primary');
          setTimeout(function(){ cell.classList.remove('has-background-primary'); }, 700);
        }
      }

      async function scrambleLetters() {
        const puzzleId = await getCurrentPuzzleId();
        const puzzle = await getPuzzle(puzzleId);

        if (puzzle == undefined) {
          console.error(`No puzzle with id ${puzzleId} found!`);
          return;
        }

        const outerLetterElements = document.getElementsByClassName('outer');
        const centerLetterElement = document.getElementsByClassName('center');
        let tempOuterLetters = JSON.parse(JSON.stringify(puzzle.outerLetters));

        centerLetterElement[0].lastElementChild.firstChild.nodeValue = puzzle.centerLetter;

        for (let element of outerLetterElements) {
          let letter = tempOuterLetters[Math.floor(Math.random()*tempOuterLetters.length)];
          element.lastElementChild.firstChild.nodeValue = letter;
          removeValueFromArray(tempOuterLetters, letter);
        }
      }

      async function guessIsValid(guess) {
        const puzzleId = await getCurrentPuzzleId();
        const puzzle = await getPuzzle(puzzleId);

        if (guess.trim() == '') {
          return {isValid: false, message:''};
        }

        const objRegExp  = /^[a-z]+$/;
        if (!objRegExp.test(guess)) {
          return {isValid: false, message:''};
        }

        if (!containsCenterLetter(guess, puzzle.centerLetter)) {
          return {isValid: false, message:`Doesn't contain center letter.`};
        }

        if (containNonAvailableLetter(guess, puzzle.outerLetters, puzzle.centerLetter)) {
          return {isValid: false, message:`Contains letter not in grid.`};
        }

        if (!isInWordList(guess, puzzle)) {
          return {isValid: false, message:`Word not in list.`};
        }

        if (wordIsAlreadyFound(guess, puzzle)) {
          return {isValid: false, message:`Word aready found.`};
        }

        return {valid: true, message:''};
      }

      function containsCenterLetter(guess, availableCenterLetter) {
        if (guess.indexOf(availableCenterLetter) != -1) {
          return true;
        }
        return false;
      }

      function containNonAvailableLetter(guess, availableOuterLetters, availableCenterLetter) {
        for (let letter of guess) {
          if (availableOuterLetters.indexOf(letter) == -1 && letter != availableCenterLetter) {
            return true;
          }
        }
        return false;
      }

      function isInWordList(guess, puzzle) {
        for (let item of puzzle.answers) {
          if (item.word == guess) {
              return true;
          }
        }
        return false;
      }

      function wordIsAlreadyFound(guess, puzzle) {
        for (let item of puzzle.answers) {
          if (item.word == guess && item.foundBy != '') {
              return true;
          }
        }
        return false;
      }

      async function updatePage() {
        await updateWordList();
        await setTotalWordCount();
      }

      async function setTotalWordCount() {
        const answers = await getWords();
        document.getElementById('total-word-count').innerHTML = answers.length;
      }

      /* Util functions *********************************************************/
      function removeValueFromArray(array, value) {
        for(var i = array.length - 1; i >= 0; i--) {
          if(array[i] === value) {
            array.splice(i, 1);
          }
        }
      }

      function getCookie(name) {
        let nameEQ = name + '=';
        let ca = document.cookie.split(';');
        for(let i=0; i < ca.length; i++) {
            let c = ca[i];
            while (c.charAt(0)==' ') c = c.substring(1,c.length);
            if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length,c.length);
        }
        return null;
      }
    </script>

  </body>
</html>
