<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    
    <% if(gameData) {%>
      <div>
        Outter Letters:
        <%for(let i=0; i<gameData.outterLetters.length; i++) {%>

          <span><%= gameData.outterLetters[i] %></span>

        <%}%>
      </div>

      <div>
        Center Letter:
        <p><%= gameData.centerLetter %></p>
      </div>

    <% } else { %>

      No data for today!

    <%}%>

    <script src="/socket.io/socket.io.js"></script>
    <script>
      var socket = io();
      socket.emit('chatter', 'Hello from client');
      socket.emit('test', 'this is only a test');
      socket.on('sendToClient', function (data) {
        console.log(data);
        document.getElementById('text-from-server').innerHTML = data;
        //var elem = document.querySelector('#text-from-server');
      });
    </script>

  </body>
</html>
